# Silenced macro
# Runs the command in the background, with absolutely zero output.
silenced() {
    "$@" &> /dev/null &;
}

function kuberun {
    [[ $# -lt 2 ]] && echo "Invalid number of arguments, [SERVICE_NAME] [IMAGE_NAME] [...COMMAND]"; return 1;

    SERVICE_NAME=$1
    IMAGE_NAME=$2
    shift 2;
    kubectl run $SERVICE_NAME --image=$IMAGE_NAME --restart=Never --quiet -i --rm -- "$@"
}

function gnew {
    git add . && git stash && git checkout master && git checkout -b $1 && git stash pop
}

function gcamp {
   git add . && \
   git commit -am "$1" && \
   git push
}

# Stage all files, commit them with a message, and then push
gcmp () {
  git add . && git commit -m "$@" && git push
}

# new k get ns macro
alias kgns="k get ns"
alias k='kubectl'
alias kgc='kubectl get context'
alias ku='kubectl use-context'

#vim becomes nvim, quick aliases from v to vim
alias v="nvim"
alias vim="v"
alias vi="v"
alias vimdiff='nvim -d'

export EDITOR=code


alias gfm='gco main && gf && gl'
alias gfrb='gfo $(git_main_branch):$(git_main_branch) && grb origin/$(git_main_branch)'

alias theme='alacritty-themes'

alias web='gh pr view --web'
alias dc='docker-compose'

#yarn shortcuts
alias yys='yarn && yarn start'
alias yyb='yarn && yarn build'
alias push='yarn build && yalc push'
alias ywba='ENABLE_BUNDLE_ANALYZER=true yarn start'
alias yyd='yarn && yarn build && yarn dev'
alias yd='yarn && yarn dev'

#asdf
alias a='asdf exec'

#deno
alias d='deno'
alias ds="deno task start"
alias dd='deno task dev'
alias drun="deno run $@"

#make
alias maked='make dev'
alias proxydb='make db-proxy'

#pnpm shortcuts
alias p='pnpm'
alias pi='p i'
alias pl='p lint'

#astro
alias astro='pnpm astro'
alias as='astro'
alias asd='astro dev'
alias asb='astro build'
alias asp='astro preview'

alias sz='source ~/.zshrc'

alias cask="brew install --cask $@"

# Arch
alias yayl="pacman -Qs" # yay list
alias yaylist="yayl"
alias wofi="wofi --show drun"

alias theme='alacritty-themes'
alias gfrbm='gfo master:master && grbm'
alias flushall='cli exec redis /usr/local/bin/redis-cli FLUSHALL'
alias yys='yarn && yarn start'
alias yyb='yarn && yarn build'
alias push='yarn build && yalc push'
alias ywba='ENABLE_BUNDLE_ANALYZER=true yarn start'

# Stage all files, commit them with a message, and then push
gcmp() {
  git add . && git commit -m "$@" && git push
}

export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:/usr/bin/php:$PATH"

## thefuck
# eval $(thefuck --alias)

# fnm
export PATH="/Users/jbarden/Library/Application Support/fnm:$PATH"
eval "$(fnm env)"

export PATH="$HOME:~/go/bin:$PATH"

# place this after nvm initialization!
#autoload -U add-zsh-hook
#load-nvmrc() {
#  local node_version="$(nvm version)"
#  local nvmrc_path="$(nvm_find_nvmrc)"
#
#  if [ -n "$nvmrc_path" ]; then
#    local nvmrc_node_version=$(nvm version "$(cat "${nvmrc_path}")")
#
#    if [ "$nvmrc_node_version" = "N/A" ]; then
#      nvm install
#    elif [ "$nvmrc_node_version" != "$node_version" ]; then
#      nvm use
#    fi
#  elif [ "$node_version" != "$(nvm version default)" ]; then
#    echo "Reverting to nvm default version"
#    nvm use default
#  fi
#}
#add-zsh-hook chpwd load-nvmrc
#load-nvmrc
