[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec="/usr/lib/electron31/electron" "--enable-features=UseOzonePlatform --ozone-platform=wayland" "/usr/lib/vesktop/app.asar"
StartupNotify=false
Terminal=false